<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>KH</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="../../public/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME CSS -->
    <link href="../../public/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- STYLE SWITCHER  CSS -->
    <link href="../../public/assets/css/styleSwitcher.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="../../public/assets/css/style.css" rel="stylesheet" />
    <!--GREEN STYLE VERSION IS BY DEFAULT, USE ANY ONE STYLESHEET FROM TWO STYLESHEETS (green or red) HERE-->
    <link href="../../public/assets/css/themes/green.css" id="mainCSS" rel="stylesheet" />
    <!-- Google	Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="switcher" style="left: -50px">
        <a id="switch-panel" class="hide-panel">
            <i class="fa fa-recycle"></i>
        </a>
        <p style="font-size: 10px">choose</p>
        <ul class="colors-list">
            <li><a title="Green" id="green" class="green"></a></li>
            <li><a title="Red" id="red" class="red"></a></li>
        </ul>
    </div>
    <!--END STYLE SWITCHER-->
    <div class="navbar navbar-inverse navbar-fixed-top move-me" id="menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <span style="color: white !important;" class="logo-custom">PRAGMATIC AMBIGUITY CHECKER</span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/#about">ABOUT THE PROJECT</a></li>
                    <li><a href="/upload"> UPLOAD DOCUMENT</a></li>


                    <li>
                        <a href="mailto:info@domain.com?Subject=Product%20Enquiry" target="_top">
                            <i class="fa fa-envelope-o"></i><span class="home-mail">e-mail: info@domain.com</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--NAVBAR SECTION END-->

    {{{body}}}


    <!--CONTACT SECTION END-->
    <div class="myfooter">
        &copy; 2021 | by:
        <a href="#" style="color: #fff" target="_blank">KHALED - UPM GRADUATE SCHOOL - </a>
    </div>
    <!--FOOTER SECTION END-->
    <!--  Jquery Core Script -->
    <script src="../../public/assets/js/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="../../public/assets/js/bootstrap.js"></script>
    <!--  Scrolling Reveal Script -->
    <script src="../../public/assets/js/scrollReveal.js"></script>
    <!--  Scroll Scripts -->
    <script src="../../public/assets/js/jquery.easing.min.js"></script>
    <!--  Style Switcher Scripts -->
    <script src="../../public/assets/js/styleSwitcher.js"></script>
    <!--  Custom Scripts -->
    <script src="../../public/assets/js/custom.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"
        integrity="sha512-RdSPYh1WA6BF0RhpisYJVYkOyTzK4HwofJ3Q7ivt/jkpW6Vc8AurL1R+4AUcvn9IwEKAPm/fk7qFZW3OuiUDeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/public/progress.js"></script>
</body>

</html>