<br>

<center>
    <h2>Analysis Result</h2>
    <br>
    <table style="width:30%;">
        <tr>
            <td style="padding:3px;border:2px solid rgb(212, 212, 212)">
                DETECTIONS
            </td>
            <td style="padding:3px;border:2px solid rgb(212, 212, 212)">
                <b> 134 </b> Words
            </td>
            <td style="padding:3px;border:2px solid rgb(212, 212, 212)">
                &nbsp;&nbsp; <button style="margin-top: 5px;" type="submit" class="btn btn-success">Save
                    Document</button>
            </td>
        </tr>
    </table>
</center>
<br>
<center style="border: 3px; border-style: solid; border-color:#4BB777; padding:30px; width:50%; margin:auto;">

    <p class="lead" style="text-align: justify;" id="text_content">{{plaintext}}</p>
</center>

<br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br>