<section class="header-sec" id="home">
    <div class="overlay">
        <div class="container">
            <div class="row text-center">
                <div class="
                col-lg-8
                col-lg-offset-2
                col-md-8
                col-md-offset-2
                col-sm-10
                col-sm-offset-1
              ">
                    <br> <br> <br>
                    <h1 data-scroll-reveal="enter from the bottom after 0.1s">
                        <strong> PRAGMATIC AMBIGUITY CHECKER </strong>
                    </h1>

                    <p style="font-size: 14pt;" data-scroll-reveal="enter from the bottom after 0.8s">
                        This <b>tool</b> is part of a research that aims to find a method that automatically detects and
                        correct
                        the ambiguous software requirements.
                        <br>
                        The proposed tool is based on one form of ambiguity in NL SRS documents. Pragmatic ambiguity. In
                        order to detect the problems of this ambiguity. word embeddings will be used to detect ambiguity
                        words. Then use of linked data for correcting detected ambiguity words.
                        The proposed approach of this research takes NL SRS document as an input, processes
                        the NL SRS document then displays the result and saves the document as an output.

                    </p>

                    <br />
                </div>
            </div>
        </div>
    </div>
</section>
<!--HEADER SECTION END-->
<section class="features" id="features">
    <div class="container">
        <div class="row text-center">
            <div class="
              col-lg-8
              col-lg-offset-2
              col-md-8
              col-md-offset-2
              col-sm-10
              col-sm-offset-1
            ">
                <h3 data-scroll-reveal="enter from the bottom after 0.1s">
                    <strong> PHASES TO DETECT AND CORRECT PRAGMATIC AMBIGUITY </strong>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4" data-scroll-reveal="enter from the left after 0.4s">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-upload fa-5x"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <strong> UPLOAD DOCUMENT </strong>
                        </h4>
                        <p>
                            User uploads NL SRS document in (.txt or .docx) format into the system.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4" data-scroll-reveal="enter from the left after 0.4s">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-cogs fa-5x"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <strong> PROCESS DOCUMENT </strong>
                        </h4>
                        <p>
                            The System processes uploaded NL SRS document to detect the ambiguities
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4" data-scroll-reveal="enter from the left after 0.4s">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-print fa-5x"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <strong> PRESENT RESULT </strong>
                        </h4>
                        <p>
                            The system displays the number of the detected,
                            the detected pragmatic ambiguity will be colored as red.
                        </p>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section><br><br><br><br><br><br><br><br><br><br><br>
<!--FEATURES SECTION END-->
<section class="testi-sec">
    <div class="overlay">
        <div class="container">
            <div class="row text-center">
                <div class="
                col-lg-8
                col-lg-offset-2
                col-md-8
                col-md-offset-2
                col-sm-10
                col-sm-offset-1
              "> <a name="about"></a>

                    <h3 data-scroll-reveal="enter from the bottom after 0.1s">
                        <strong> More about this Project </strong>
                    </h3>

                    <h4 data-scroll-reveal="enter from the bottom after 0.8s">
                        <i class="fa fa-quote-left"></i> The aim of this research is to find a method that automatically
                        detects and correct the ambiguous software requirements. To achieve the objectives of this
                        research, ambiguity detection and correct approach that can automatically detect ambiguity in NL
                        SRS document was proposed
                        <i class="fa fa-quote-right"></i>
                        <br />
                        <span class="pull-right"><strong>-Khaled</strong></span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!--TESTIMONIAL SECTION END-->