<br>
<br>
<br>
<br>
<center style="border: 3px; border-style: solid; border-color:#4BB777; padding:30px; width:50%; margin:auto;">
    <form action="/upload_document" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <p class="lead fw-bold" style="text-align: left !important;">Upload Document</p>
                <input type="file" class="form-control" name="file" required>
            </div>
            <div class="col-md-2"><br><br>
                <button style="margin-top: 5px;" type="submit" class="btn btn-success">Upload</button>
            </div>
        </div>
    </form>
</center>

<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>